<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create new game</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <h3>Select users</h3>
      <div class="list-group">
        {{#each availableUsers}}
        <a href="#" class="list-group-item" {{action "select" this}}>{{ email }}</a>
        {{/each}}
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Included users</h3>
      <div class="list-group">
        {{#each users}}
        <a href="#" class="list-group-item" {{action "select" this}}>{{ email }}</a>
        {{/each}}
      </div>
      <button {{bind-attr disabled="invalid" class="invalid:btn-disabled :btn :btn-primary"}} {{action "save"}}>PLAY!</button>
    </div>
  </div>
</div>
