<div class="container-fluid">

<div class="game-board-area row">
	<div class="col-lg-4 col-xs-3">
    <div class="player-list-left">
			{{render "players" leftPlayers}}
		</div>
	</div>
	<div class="game-board-mid col-lg-4 col-xs-6">
    <div class="alert">
      <button class="btn btn-primary" {{action "refresh"}}>Refresh game</button>
    </div>
	  {{#if stateIsNominate }}
      {{render "nomination_create" currentMission.currentNomination }}
	  {{/if}}
	  {{#if stateIsVote }}
      {{render "nomination_vote" currentMission.currentNomination }}
	  {{/if}}
	  {{#if stateIsMission }}
      {{render "mission_result" currentMission }}
	  {{/if}}
	  {{#if isFinished }}
        <div class="alert alert-info">
          Game Over!
        </div>
	  {{/if}}
	</div>
	<div class="col-lg-4 col-xs-3">
    <div class="player-list-right">
			{{render "players" rightPlayers}}
		</div>
	</div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    {{render "missions" missions}}
  </div>
</div>

</div>
