<div class="row">
<div class="col-lg-3">
<ul class="player-list list-group">
  <li class="list-group-item active">
    Players
  </li>
{{#each model.players }}
  <li class="list-group-item">
    user: {{ user.id }}
  	{{#if isKing }}
      <span class="glyphicon glyphicon-star"></span>
    {{/if}}
    <a href="#" {{action 'dev_login' user.id}}>Log In</a>
  </li>
{{/each}}
</ul>
</div>
<div class="col-lg-9">
<h1 class="game-title">Game: {{ model.id }}</h1>

<div class="game-active-area">
  {{#if model.stateIsNominate }}
    {{#if currentPlayer.isKing }}
		{{render "nomination_create"
			model.currentMission.newNomination }}
    {{else}}
	  Waiting for nomination...
    {{/if}}
  {{/if}}
  {{#if model.stateIsVote }}
      {{render "nomination_view" model.currentMission.currentNomination }}
  {{/if}}
  <div style="width: 100%; clear: both;">
  </div>
</div>

<div class="missions-area">
	<ul class="missions-list">
	{{#each model.missions }}
	  {{#if isCurrent }}
	  <li class="active" >
	  {{else}}
		<li>
	  {{/if}}
		<div>{{ nbr_participants }}</div>
	  </li>
	{{/each}}
	</ul>
	<div style="width: 100%; clear: both;">
	</div>
</div>
</div>
</div>
