<ul class="nominations-counter">
  <li {{bind-attr class="isFifth:active :fifth"}}>
     <span></span>
  </li>
   <li {{bind-attr class="isFourth:active :fourth"}}>
    <span></span>
  </li>
  <li {{bind-attr class="isThird:active :third"}}>
    <span></span>
  </li>
  <li {{bind-attr class="isSecond:active :second"}}>
    <span></span>
  </li>
  <li {{bind-attr class="isFirst:active :first"}}>
    <span></span>
  </li>
</ul>
