<div class=nomination-area">
	<div class="game-active-header">
		Vote!
	</div>
	<div class="nominations-list">
	<ul>
	{{#each model.mission.game.players}}
	  <li {{bind-attr class="nominated:active"}}>
		user: {{ user_id }}
	  </li>
	{{/each}}
	</ul>
	</div>
    {{#if currentPlayer.hasVoted }}
      <span {{bind-attr class="currentPlayer.vote.pass:vote-accepted:vote-rejected"}}></span>
    {{else}}
      <div class="nomination-accept">
        <button {{action "accept"}} class="btn btn-primary">Accept</button>
        <button {{action "reject"}} class="btn btn-primary">Reject</button>
      </div>
    {{/if}}
</div>
